extends index.pug

block content
    p From India, to Iran, to South Africa, to England.
    p Our names are Avinash, Morteza, Dexter, and Thiasen. We all led completely different lives until we came together due to our common interest in computer science where we brought our brainchild to life.
    h2 Momentum
    p Momentum is a social media platform which aims to bring communities of runners and cyclists together. Momentum is open to members of all ages and abilities who just want to have fun, achieve their goals, and meet like-minded individuals.
    p We look forward to you sharing your experiences and helping us grow.
    p Thank you,
    p Team Momentum.
