extends index.pug

block content
    h1(align="center") MOMENTUM
    .cards
        a.card(href=`/feed/` + username) Feed
        a.card(href=`/communities`) Communities
        a.card(href=`/members`) Members
        a.card(href=`/about-us`) About Momentum
