doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Momentum
    link(rel="stylesheet", href="/styles.css")
    script(src="https://kit.fontawesome.com/ba2a21cca0.js" crossorigin="anonymous")
    script.
      function goToProfile() {
        let username = "john_doe"; // Replace this dynamically if needed
        window.location.href = "/member/" + username;
      }
      function goHome() {
        window.location.href = "/";
      }

  body
    script(src="/script.js")
    header
      button.menu-toggle#menuToggle ☰
      .header-title
        button.title-btn(onclick="goHome()") Momentum
      .nav-right
        //button.post-btn#postBtn Post
        button.account-btn#accountBtn(onclick="goToProfile()") 👤

    nav.sidebar#sidebar
      ul
        li
          a(href="/") Home
        li
          a(href="/feed/john_doe") Feed
        li
          a(href="/communities") Communities
        li
          a(href="/about-us") About Us

    div.content
      block content
