doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Momentum
    link(rel="stylesheet", href="/styles.css")
    script(src="https://kit.fontawesome.com/ba2a21cca0.js" crossorigin="anonymous")
    script.
      function goToProfile() {
        // Correct the JavaScript URL to use the username properly from locals
        window.location.href = "/member/#{username}";  // Here, username will be injected by Pug
      }
      function goHome() {
        window.location.href = "/home-page";
      }

  body
    script(src="/script.js")
    header
      // Only show the burger menu if logged in
      if (loggedIn)
        button.menu-toggle#menuToggle ☰
      .header-title
        button.title-btn(onclick="goHome()") Momentum
      .nav-right
        // Only show account button if logged in
        if (loggedIn)
          button.account-btn#accountBtn(onclick="goToProfile()") 👤

    nav.sidebar#sidebar
      ul
        li
          a(href="/home-page") Home
        li
          a(href='/feed/' + username) Feed
        li
          a(href="/communities") Communities
        li
          a(href="/about-us") About Us

    div.content
      block content