extends index.pug

block content
  h1 Member Profile

  table
    tr
      th ID
      th Username
      th Name
      th Email
      th Activities
      th Comments
      th Communities
      th Posts
      th Rewards
    tr
      td= member && member.id ? member.id : 'N/A'
      td= member && member.username ? member.username : 'N/A'
      td= member && member.name ? member.name : 'N/A'
      td= member && member.email ? member.email : 'N/A'
      td
        include activity.pug
      td
        include comment.pug
      td
        include community.pug
      td
        include post.pug
      td
        include reward.pug
