doctype html
html
  head
    title Member Profile
    link(rel="stylesheet", href="member.css") 
  body
    h1 Member Profile
    table(border="1")
      tr
        th ID
        th Username
        th Name
        th Email
        th Activities
        th Comments
        th Communities
        th Likes
        th Posts
        th Rewards
      tr
        td= member && member.id ? member.id : 'N/A'
        td= member && member.username ? member.username : 'N/A'
        td= member && member.name ? member.name : 'N/A'
        td= member && member.email ? member.email : 'N/A'
        td
          include activities.pug
        td
          include comments.pug
        td
          include communities.pug
        td
          include likes.pug
        td
          include posts.pug
        td
          include rewards.pug
